@import 'tailwindcss';

:root {
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --font-header: 'ka1';
}

@font-face {
  font-family: 'ka1';
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url('/app/assets/fonts/ka1.ttf') format('truetype');
}
